table {
    border-spacing: 3px;
}

table, th, td {
    border: 1px solid black;
}
td, th {
    padding: 3px;
}

p, ul, ol, table {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Verdana, Tahoma, sans-serif;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}